<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
    <div class="container my-3">
        <div>
            <h1>회원가입</h1>
        </div>
        <form role="form" th:action="@{/adduser}" th:object="${memberForm}" method="post">

            <div class="form-group">
                <label th:for="name" class="form-label">이름</label>
                <input type="text" th:field="*{memberName}" class="form-control" placeholder="이름 입력해주세요">
            </div>
            <div class="form-group">
                <label th:for="password" class="form-label">비밀번호</label>
                <input type="password" class="form-control" th:field="*{memberPw}" placeholder="비밀번호">
            </div>
            <div class="form-group">
                <label th:for="email" class="form-label">이메일</label>
                <input type="email" th:field="*{memberEmail}" class="form-control" placeholder="이메일 입력해주세요">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div th:replace="fragments/footer :: footer"/>
    </div>
</body>
</html>