<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h2>Study List</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Join</th>
            </tr>
            <tr th:each="study : ${studies}">
                <td th:text="${studies.study_name}"></td>
                <td th:text="${studies.study_start}"></td>
                <td><a class="btn btn-primary" th:href="@{/study/{studyId}/join (id=${studies.id})}
">Join</a></td>
            </tr>
        </table>
        <p>
            <a class="btn btn-primary" th:method="get" th:href="@{/study/create}">스터디 추가</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>

</html>